
    html, body {
        display: flex; 
        flex-direction: column; 
        height:100%;
    }
        
    body {
         margin: 0; 
         font-family: 'Cinzel', serif; 
         background:#e3e6e9; 
         color:#3F0920;
    }
        
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #b2b7c0; 
        color: #191919 ;
    }

    #navigation-bar {
        background: #ccd1da;
    }

    #navigation-bar ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        background-color: #ccd1da;
    }

    #navigation-bar li {
        display: inline-block;
    }

    #navigation-bar li a {
        display: inline-block;
        color: #665;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #navigation-bar li a:hover:not(.active) {
        background-color: #24262c;
    }
        
    #navigation-bar li a:active {
        color: #fff;
        background-color: #b2b7c0;
    }

    #navigation-bar .menu__hamburger-icon {
        display: none;
    }

    @media screen and (max-width: 600px) {
            #navigation-bar li:no(first-child):not(.menu__hamburger-icon) {
                display: none;
            }
            #navigation-bar li.menu__hamburger-icon {
                display: block;
                float: right;
            }
        
            #navigation-bar.responsive {
                position: relative;
            }
        
            #navigation-bar.responsive .menu__hamburger-icon {
                position: absolute;
                right: 0;
                top: 0;
            }
            #navigation-bar.responsive .menu__hamburger-icon a {
                color: #fff;
            }
            #navigation-bar.responsive li {
                float: none;
                display: block !important;
            }
            #navigation-bar.resonsive li a {
                text-align: left;
            }
    }

        #main-content-container {
            display: flex;
        }
        
        #links-sidebar {
            flex:2;
            text-align:center;
            padding: 10px;
            background:#24262c;
        }
        
        #main-content {
            flex:6;
            margin:0 25px;
            padding-right:20%;
            text-align:justify;
            font-family: 'Nanum Myeongjo', serif;
            background:#e3e6e9;
        }

        .main-content__img-full-with {
            width: 100%;
        }
        
        #footer {
            display:flex;
            padding: 0 20px 20px 20px;
            margin-top:auto;
            background:#ccd1da;
        }
        
        .footer__section{
            flex:1; 
            display:flex; 
            align-items:center; 
            flex-direction:column;
        }
        .social__networks {
            display: flex; 
            flex-direction: column; 
            gap: 20px;
        }
        .social__network {
            display: flex; 
            align-items: center;
        }
        .social__icon {
            font-size: 32px;
        }	
        .social__icon-handler {
            margin-left: 10px;
        }
        a{
            text-decoration: none; 
            color:#E4DDDD;
        }	
        a:hover{
            text-decoration: underline; 
            text-underline-offset: 3px;
        }
            
        input[type=email], textarea{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0; 
            box-sizing: border-box;
            border: 3px solid #ccc;
            transition: 0.5s;
            outline:none;
        }
        input[type=email]:focus, textarea:focus {
            border: 3px solid #555;
        }
        input[type=submit] {
            background:#666655; 
            border: none; 
            color: white; 
            padding: 16px 32px; 
            text-decoration: none; 
            margin: 4px 2px; 
            cursor: pointer;
        }
            
        @media screen and (max-width: 600px) {
            #links-siderbar {
                display: none;
            }
            #mein-content {
                padding-right: 10px;
            }
        }	
        #main-content {
            flex: 6;
            padding: 10px 20% 10px 10px;
        }
